<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fps</key>
	<integer>30</integer>
	<key>toneString</key>
	<string>.
,
:
: 
:.
: . 
;&apos;
: . . 
&apos;,
 , &apos;
二
三
十
∴∵
： ． 
ＮＶＷＭ
㌧㌦㌧㌦㌧㌦
爨鑿鑾黶鬮靉鑿欝蠶蠻欝灣</string>
	<key>edgeString</key>
	<string>─ - ‐ ー ｰ 一 ￣ ⌒ _ ＿
_ ,..　-一&apos; &quot; ´ ￣
￣｀ ー- ､＿
　　　　　　　　　　　＿
　　＿　 - 一　 ￣
￣
i
l
ｉ
ｌ
|
!
│
∥
￤
┃
！

　　　　　　／
　　　　 ／
　　　／
　 ／
／
.　　/
　 /
. /
/
　　　　γ´￣
　　　　 |
　　　　 |
.　　　 ,ｲ
　　／
　　　〃
　　 〃
.　 〃
　〃
　

＼
　 ＼
　　　＼
　　　　 ＼
　　　　　　＼
　　　　　　
　∨
.　 ∨
　　 ∨
.　 　 ∨
　　　　∨
　　　　
＼
　 ヽ
.　　ﾊ
. . 　 |
.　　λ
.　　　 ＼

＜
　 ＞＜
.　　　 　＞</string>
</dict>
</plist>
