<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fps</key>
	<integer>30</integer>
	<key>toneString</key>
	<string>.
:
: 
:.
: . 
;&apos;
: . . 
∴∵
： ． 
二
三
ＮＶＷＭ
㌧㌦㌧㌦㌧㌦
爨鑿鑾黶鬮靉鑿欝蠶蠻欝灣</string>
	<key>edgeString</key>
	<string>|＝（）｛｝「」＜！〜・。｀＾、；：エ＋ヘノ”ｺｲ</string>
	<key>fontSize</key>
	<integer>12</integer>
	<key>isTraceEdge</key>
	<true/>
	<key>isTraceTone</key>
	<false/>
	<key>isTraceColor</key>
	<false/>
</dict>
</plist>
